annotated-types
anyio
arrow
binaryornot
certifi
chardet
charset-normalizer
click
cookiecutter
dnspython
email_validator
fastapi
fastapi-cli
flet
flet-core
flet-runtime
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
oauthlib
orjson
packaging
pydantic
pydantic_core
Pygments
pypng
python-dateutil
python-dotenv
python-multipart
python-slugify
PyYAML
qrcode
repath
requests
rich
shellingham
six
sniffio
starlette
text-unidecode
typer
types-python-dateutil
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchdog
watchfiles
websockets
